{#
# This file is part of SolidInvoice package.
#
# (c) Pierre du Plessis <open-source@solidworx.co>
#
# This source file is subject to the MIT license that is bundled
# with this source code in the file LICENSE.
#}

{% set menuItem = '2fa' %}

{% extends "@SolidInvoiceUser/Layout/profile.html.twig" %}

{% block title %}{{ ux_icon('tabler:shield-check', {width: 24, height: 24, class: 'me-2'}) }}{{ "Two-Factor Authentication"|trans }}{% endblock title %}

{% block profile_content %}
    <div class="form-page">
        <div class="form-page-container form-page-container--narrow">
            {# Page Header #}
            <div class="form-page-header">
                <div class="form-page-header-content">
                    <div class="form-page-icon form-page-icon--security">
                        {{ ux_icon('tabler:shield-lock', {width: 28, height: 28}) }}
                    </div>
                    <div>
                        <h1 class="form-page-title">{{ 'Two-Factor Authentication'|trans }}</h1>
                        <p class="form-page-subtitle">{{ 'Add an extra layer of security to your account'|trans }}</p>
                    </div>
                </div>
            </div>

            {# New LiveComponent #}
            <twig:User:TwoFactorSettings />
        </div>
    </div>
{% endblock profile_content %}
