{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="py-3">
    {% if client.invoices|length > 0 %}
        <twig:DataGrid name="invoice_grid" context="{{ {'client_id': client.id} }}" />
    {% else %}
        <div class="empty">
            <div class="empty-icon">
                {{ ux_icon('tabler:file-invoice', {width: 48, height: 48}) }}
            </div>
            <p class="empty-title">{{ 'client.invoices.empty.title'|trans }}</p>
            <p class="empty-subtitle text-secondary">{{ 'client.invoices.empty.description'|trans }}</p>
            <div class="empty-action">
                <a href="{{ path('_invoices_create', {'client': client.id}) }}" class="btn btn-primary">
                    {{ ux_icon('tabler:plus', {width: 16, height: 16}) }}
                    {{ 'client.view.actions.create_invoice'|trans }}
                </a>
            </div>
        </div>
    {% endif %}
</div>
