{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceCore/Layout/default.html.twig" %}

{% block title %}
    {{ ux_icon('tabler:credit-card', {width: 24, height: 24, class: 'me-2'}) }}{{ 'payment.list.title'|trans }}
{% endblock title %}

{% block content %}
    {# KPI Statistics Cards #}
    <div class="row row-deck row-cards mb-4">
        {# Total Received Card #}
        <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-success text-white avatar">
                                {{ ux_icon('tabler:currency-dollar', {width: 24, height: 24}) }}
                            </span>
                        </div>
                        <div class="col">
                            <div class="fw-medium">
                                {% if stats.total_income|length > 0 %}
                                    {% for currency, data in stats.total_income %}
                                        {{ data.amount|formatCurrency(data.currency) }}
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                            <div class="text-secondary">
                                {{ 'payment.stats.total_received'|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# This Month Card #}
        <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-primary text-white avatar">
                                {{ ux_icon('tabler:calendar-month', {width: 24, height: 24}) }}
                            </span>
                        </div>
                        <div class="col">
                            <div class="fw-medium">
                                {% if stats.this_month|length > 0 %}
                                    {% for currency, data in stats.this_month %}
                                        {{ data.amount|formatCurrency(data.currency) }}
                                    {% endfor %}
                                {% else %}
                                    -
                                {% endif %}
                            </div>
                            <div class="text-secondary">
                                {{ 'payment.stats.this_month'|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Pending Payments Card #}
        <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-warning text-white avatar">
                                {{ ux_icon('tabler:clock', {width: 24, height: 24}) }}
                            </span>
                        </div>
                        <div class="col">
                            <div class="fw-medium">
                                {{ stats.pending_count }}
                            </div>
                            <div class="text-secondary">
                                {{ 'payment.stats.pending'|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {# Failed Payments Card #}
        <div class="col-sm-6 col-lg-3">
            <div class="card card-sm">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-auto">
                            <span class="bg-danger text-white avatar">
                                {{ ux_icon('tabler:alert-circle', {width: 24, height: 24}) }}
                            </span>
                        </div>
                        <div class="col">
                            <div class="fw-medium">
                                {{ stats.failed_count }}
                            </div>
                            <div class="text-secondary">
                                {{ 'payment.stats.failed'|trans }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {# Payment List Card #}
    <twig:Ui:Card class="filterable">
        <twig:DataGrid name="payments_grid" />
    </twig:Ui:Card>
{% endblock content %}
