{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}
{% extends "@SolidInvoiceCore/Layout/Email/base.html.twig" %}
{% import "@SolidInvoiceCore/Layout/Email/components.html.twig" as email %}

{% set quotePath = url("_view_quote_external", {"uuid" : quote.uuid}) %}

{%- block title -%}
    {{ "quote.title"|trans({"%id%" : quote.quoteId}, 'email') }}
{%- endblock -%}

{%- block header -%}
    {{ email.view_online_link(quotePath) }}
{%- endblock -%}

{%- block head_extra -%}
    <script type="application/ld+json">
        [
            {
                "@context": "http://schema.org",
                "@type": "EmailMessage",
                "description": "View quote",
                "potentialAction": {
                    "@type": "ViewAction",
                    "name": "View quote",
                    "target": "{{ quotePath }}"
                }
            }
        ]
    </script>
{%- endblock head_extra -%}


{%- block content -%}
    {# Quote intro message #}
    {% apply inky_to_html %}
        <row>
            <columns>
                <p style="color: #1e293b; font-size: 16px; line-height: 1.5; margin: 0 0 24px 0; Margin: 0 0 24px 0;">
                    {{ 'quote.info'|trans({'%company%': setting('system/company/company_name'), '%created%': quote.created|date}, 'email') }}
                </p>
            </columns>
        </row>
    {% endapply %}

    {{ email.spacer('sm') }}

    {# Quote details section #}
    {{ email.info_row('quote.number'|trans({}, 'email'), quote.quoteId) }}
    {{ email.spacer('xs') }}
    {{ email.info_row('quote.created'|trans({}, 'email'), quote.created|date) }}

    {% if quote.due %}
        {{ email.spacer('xs') }}
        {{ email.info_row('quote.expires'|trans({}, 'email'), quote.due|date) }}
    {% endif %}

    {{ email.divider('md') }}

    {# Financial breakdown #}
    {{ email.info_row('quote.subtotal'|trans({}, 'email'), quote.baseTotal|formatCurrency(quote.client.currency)) }}

    {% if quote.tax.positive %}
        {{ email.spacer('xs') }}
        {{ email.info_row('quote.tax'|trans({}, 'email'), quote.tax|formatCurrency(quote.client.currency)) }}
    {% endif %}

    {% if quote.discount.type is not empty %}
        {{ email.spacer('xs') }}
        {{ email.info_row('quote.discount'|trans({}, 'email'), '-' ~ discount(quote)|formatCurrency(quote.client.currency)) }}
    {% endif %}

    {{ email.spacer('sm') }}

    {# Total - highlighted #}
    {{ email.info_row('quote.total'|trans({}, 'email'), quote.total|formatCurrency(quote.client.currency), true) }}

    {# Terms section if present #}
    {% if quote.terms is not empty %}
        {{ email.divider('md') }}

        {% apply inky_to_html %}
            <row>
                <columns small="12">
                    <p style="font-weight: 600; color: #1e293b; margin: 0 0 8px 0; Margin: 0 0 8px 0;">{{ 'quote.terms'|trans({}, 'email') }}</p>
                    <div style="color: #626976; font-size: 14px; line-height: 1.6;">
                        {{ quote.terms|nl2br }}
                    </div>
                </columns>
            </row>
        {% endapply %}
    {% endif %}

    {# View Quote button #}
    {{ email.divider('lg') }}
    {{ email.button('quote.view'|trans([], 'email'), quotePath, 'primary', 'large') }}

    {{ email.spacer('md') }}
{%- endblock -%}

{%- block footer -%}
    {{ email.footer(true, false) }}
{%- endblock footer -%}
