{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

<div class="additional-detail-row">
    <div class="additional-detail-type">
        {{ form_widget(form.type, {
            attr: {
                class: 'form-select form-select-sm'
            }
        }) }}
        {{ form_errors(form.type) }}
    </div>
    <div class="additional-detail-value">
        {{ form_widget(form.value, {
            attr: {
                class: 'form-control form-control-sm',
                placeholder: 'Enter value...'|trans
            }
        }) }}
        {{ form_errors(form.value) }}
    </div>
    <div class="additional-detail-action">
        {{ form_widget(form.vars.button_delete, {
            label: '',
            attr: {
                class: 'btn btn-icon btn-ghost-danger btn-sm',
                title: 'Remove'|trans,
                'aria-label': 'Remove'|trans
            }
        }) }}
    </div>
</div>
