{#
# This file is part of SolidInvoice package.
#
# (c) Pierre du Plessis <open-source@solidworx.co>
#
# This source file is subject to the MIT license that is bundled
# with this source code in the file LICENSE.
#}

{% extends "@SolidInvoiceCore/Layout/default_no_nav.html.twig" %}

{% block title %}{{ "forgot_password.check_email.title"|trans }}{% endblock title %}

{% block content %}
    <div class="container-tight py-4">
        <div class="text-center mb-4">
            <span class="navbar-brand navbar-brand-autodark h1">
                {{ app_logo(showDefault: true, showOnlyAppIcon: true) }} {{ app_name }}
            </span>
        </div>

        <div class="card card-md">
            <div class="card-body text-center py-4">
                <div class="mb-4 text-success">
                    {{ ux_icon('tabler:mail-check', {width: 64, height: 64}) }}
                </div>
                <h2 class="h2 mb-3">{{ 'forgot_password.check_email.heading'|trans }}</h2>
                <p class="text-muted mb-3">
                    {{ 'forgot_password.check_email.content'|trans }}
                </p>
                <p class="text-muted small mb-4">
                    {{ 'forgot_password.check_email.expiry'|trans({'%tokenLifetime%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}
                </p>
                <a class="btn btn-primary w-100" href="{{ path('_login_main') }}">
                    {{ ux_icon('tabler:arrow-left', {width: 20, height: 20}) }}
                    {{ 'security.login.login'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}
