<div {{ attributes }}>
    {% include "@SolidInvoiceCore/flash.html.twig" %}
    <section class="row">
        <aside class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <div class="mb-3">
                        <div class="dropdown">
                            <a href="#" class="btn btn-outline-success w-100 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                {{ ux_icon('tabler:circle-plus', {width: 16, height: 16}) }}
                                {{ 'payment.method.add'|trans }}
                            </a>
                            <div class="dropdown-menu w-100">
                                {% for method in availablePaymentMethods %}
                                    <a class="dropdown-item" href="?method={{ method }}">{{ method|humanize|title }}</a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <p class="text-muted small mb-2">{{ 'Available Payment Methods'|trans }}</p>
                    <ul class="nav flex-column" role="tablist">
                        {% for method in paymentMethods %}
                            <li class="nav-item">
                                <a href="?method={{ method.gatewayName }}" aria-controls="{{ method.gatewayName }}" data-method="{{ method.gatewayName }}" class="nav-link{{ method.gatewayName is same as(this.method) ? ' active' }}">
                                    {% if method.isEnabled == 'enabled' %}
                                        {{ ux_icon('tabler:circle-check', {width: 16, height: 16, class: 'text-success'}) }}
                                    {% else %}
                                        {{ ux_icon('tabler:circle-x', {width: 16, height: 16, class: 'text-muted'}) }}
                                    {% endif %}
                                    {{ method.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </aside>
        <section class="col-md-9">
            {% if this.method is not empty %}
                <twig:PaymentSettings method="{{ this.method }}" />
            {% endif %}
        </section>
    </section>
</div>
