{#
# This file is part of SolidInvoice package.
#
# (c) Pierre du Plessis <open-source@solidworx.co>
#
# This source file is subject to the MIT license that is bundled
# with this source code in the file LICENSE.
#}

{% extends '@Ui/Security/login.html.twig' %}

{% block page_title %}{{ app_name }} - {{ "security.login.login"|trans }}{% endblock page_title %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('login') }}
{% endblock stylesheets %}

{% block social_login %}
    {% toggle 'google_oauth_login' %}
        <div class="hr-text">{{ 'security.login.or'|trans }}</div>

        <div class="card-body">
            <div class="row">
                <div class="col">
                    <a href="{{ path('_oauth_connect', {'service': 'google' }) }}" class="btn btn-outline-secondary w-100">
                        {{ ux_icon('tabler:brand-google', {width: 24, height: 24}) }}
                        {{ 'security.login.login_with_google'|trans }}
                    </a>
                </div>
            </div>
        </div>
    {% endtoggle %}
{% endblock social_login %}

{% block content %}
    <div class="text-center mb-4">
        <span class="navbar-brand navbar-brand-autodark text-white h1">
            {{ app_logo(showDefault: true, showOnlyAppIcon: true) }} {{ app_name }}
        </span>
    </div>

    {{ parent() }}

    <div class="text-center text-secondary mt-3 bg-white p-2">
        {{ 'security.login.no_account'|trans }}
        <a href="{{ path('_register') }}" tabindex="-1">
            {{ 'security.login.register_now'|trans }}
        </a>
    </div>

    <a class="text-decoration-none position-absolute bottom-0 end-0 p-2 bg-dark text-white rounded-start" style="font-size: 12px;" href="https://unsplash.com/@julian_zett?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge" target="_blank" rel="external noopener noreferrer" title="Download free do whatever you want high-resolution photos from Julian Zett">
        <span class="d-inline-block p-1">
            <svg xmlns="http://www.w3.org/2000/svg" style="height:12px;width:auto;position:relative;vertical-align:middle;top:-1px;fill:white" viewBox="0 0 32 32"><title>unsplash-logo</title><path d="M20.8 18.1c0 2.7-2.2 4.8-4.8 4.8s-4.8-2.1-4.8-4.8c0-2.7 2.2-4.8 4.8-4.8 2.7.1 4.8 2.2 4.8 4.8zm11.2-7.4v14.9c0 2.3-1.9 4.3-4.3 4.3h-23.4c-2.4 0-4.3-1.9-4.3-4.3v-15c0-2.3 1.9-4.3 4.3-4.3h3.7l.8-2.3c.4-1.1 1.7-2 2.9-2h8.6c1.2 0 2.5.9 2.9 2l.8 2.4h3.7c2.4 0 4.3 1.9 4.3 4.3zm-8.6 7.5c0-4.1-3.3-7.5-7.5-7.5-4.1 0-7.5 3.4-7.5 7.5s3.3 7.5 7.5 7.5c4.2-.1 7.5-3.4 7.5-7.5z" /></svg>
        </span>
        <span class="d-inline-block p-1">Julian Zett</span>
    </a>
{% endblock content %}
