{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends "@SolidInvoiceCore/Layout/default.html.twig" %}

{% block title %}
    {{ ux_icon('tabler:receipt-tax', {width: 24, height: 24, class: 'me-2'}) }}
    {{ 'tax.rates.title'|trans }}
{% endblock title %}

{% block content %}
    <twig:Ui:Card>
        <twig:DataGrid name="tax_grid" />
    </twig:Ui:Card>
{% endblock %}

{% block heading %}
    <a class="btn btn-primary" href="{{ path("_tax_rates_add") }}">
        {{ ux_icon('tabler:plus', {width: 18, height: 18}) }}
        {{ "tax.rates.add"|trans }}
    </a>
{% endblock %}
