{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends '@SolidInvoiceCore/Layout/Email/base.html.twig' %}
{% import "@SolidInvoiceCore/Layout/Email/components.html.twig" as email %}

{%- block title -%}
    {{ 'reset_password.subject'|trans({'%username%': user.email}, 'email') }}
{%- endblock -%}

{%- block content -%}
    {% apply inky_to_html %}
        <row>
            <columns>
                <p style="color: #1e293b; font-size: 16px; line-height: 1.5; margin: 0 0 16px 0; Margin: 0 0 16px 0;">
                    {{ 'reset_password.message_html'|trans({'%username%': user.email}, 'email') }}
                </p>
                <p style="color: #626976; font-size: 14px; line-height: 1.5; margin: 0; Margin: 0;">
                    {{ 'This link will expire in %resetTimestamp%.'|trans({'%resetTimestamp%': resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle')}) }}
                </p>
            </columns>
        </row>
    {% endapply %}

    {{ email.spacer('md') }}

    {# Reset password button #}
    {{ email.button('reset_password.button_text'|trans([], 'email'), url('_user_password_reset', {'token': resetToken.token}), 'primary', 'large') }}

    {{ email.spacer('md') }}

    {# Alternative link #}
    {% set resetUrl = url('_user_password_reset', {'token': resetToken.token}) %}
    {% apply inky_to_html %}
        <row>
            <columns>
                <p style="color: #626976; font-size: 14px; line-height: 1.5; margin: 0; Margin: 0; text-align: center;">
                    {{ 'reset_password.alternative'|trans({}, 'email') }}
                </p>
                <p style="color: #206bc4; font-size: 14px; margin: 8px 0 0 0; Margin: 8px 0 0 0; text-align: center; word-break: break-all;">
                    <a href="{{ resetUrl }}" rel="external" target="_blank" style="color: #206bc4; text-decoration: none;">{{ resetUrl }}</a>
                </p>
            </columns>
        </row>
    {% endapply %}

    {{ email.spacer('md') }}

    {# Security notice #}
    {{ email.alert_box('reset_password.security'|trans({}, 'email'), 'warning') }}

    {{ email.spacer('sm') }}
{%- endblock -%}
