{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% set availableCompanies = app.user.companies|filter(v => v.id != company_id()) %}

<div class="subscription-page-header">
    <div class="container-xl">
        <div class="d-flex align-items-center justify-content-between py-4">
            <div class="d-flex align-items-center gap-3">
                {{ app_logo(48) }}
                <div>
                    <div class="h4 mb-0">{{ constant('SolidInvoice\\CoreBundle\\SolidInvoiceCoreBundle::APP_NAME') }}</div>
                    <div class="text-muted small">{{ company_name() }}</div>
                </div>
            </div>
            <div class="d-flex align-items-center gap-2">
                {% if availableCompanies|length > 0 and not is_custom_domain() %}
                    <div class="btn-group">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="{{ 'Switch company'|trans }}">
                            {{ ux_icon('tabler:building', {width: 18, height: 18}) }}
                            {{ company_name() }}
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" role="menu">
                            {% for company in availableCompanies %}
                                <li>
                                    <a href="{{ path('_switch_company', {'id': company.id}) }}" class="dropdown-item">
                                        {{ company }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <twig:Ui:Security:LogoutLink />
            </div>
        </div>
    </div>
</div>
