{#
 # This file is part of SolidInvoice package.
 #
 # (c) Pierre du Plessis <open-source@solidworx.co>
 #
 # This source file is subject to the MIT license that is bundled
 # with this source code in the file LICENSE.
 #}

{% extends '@SolidInvoiceCore/Layout/default_no_nav.html.twig' %}

{% block heading %}
    {% include '@SolidInvoiceSaas/subscription/_header.html.twig' %}
{% endblock heading %}

{% block content %}
    {% set availableCompanies = app.user.companies|filter(v => v.id != company_id()) %}

    <div class="subscription-page subscription-paused-page">
        <div class="subscription-container">
            {# Hero Icon #}
            <div class="subscription-icon subscription-icon-paused">
                {{ ux_icon('tabler:player-pause', {width: 32, height: 32}) }}
            </div>

            {# Headline #}
            <h1 class="subscription-title">{{ 'Your Subscription is Paused'|trans }}</h1>
            <p class="subscription-subtitle">
                {% trans with {'%price%': subscription.plan.price|formatCurrency('USD')} %}
                    You won't be charged while your subscription is paused. Resume anytime at %price%/month to regain access to all features.
                {% endtrans %}
            </p>

            {# Paused Status Info #}
            <twig:Ui:Alert type="info" class="mb-6 text-start">
                <div class="d-flex align-items-start gap-2">
                    {{ ux_icon('tabler:info-circle', {width: 20, height: 20}) }}
                    <div>
                        <strong>{{ 'While paused'|trans }}</strong><br>
                        {{ 'Your data is safe and will be waiting for you. You won\'t be charged during this time, but you won\'t have access to features until you resume.'|trans }}
                    </div>
                </div>
            </twig:Ui:Alert>

            {# Features Available After Resume #}
            <div class="subscription-benefits">
                <h3>{{ 'Resume to access these features:'|trans }}</h3>
                <ul>
                    <li>
                        {{ ux_icon('tabler:lock', {width: 20, height: 20}) }}
                        {{ 'Unlimited invoices and quotes'|trans }}
                    </li>
                    <li>
                        {{ ux_icon('tabler:lock', {width: 20, height: 20}) }}
                        {{ 'Professional payment processing'|trans }}
                    </li>
                    <li>
                        {{ ux_icon('tabler:lock', {width: 20, height: 20}) }}
                        {{ 'Client and contact management'|trans }}
                    </li>
                    <li>
                        {{ ux_icon('tabler:lock', {width: 20, height: 20}) }}
                        {{ 'Financial reports and insights'|trans }}
                    </li>
                    <li>
                        {{ ux_icon('tabler:lock', {width: 20, height: 20}) }}
                        {{ 'Recurring invoices and subscriptions'|trans }}
                    </li>
                </ul>
            </div>

            {# Primary CTA #}
            <div class="subscription-actions">
                <a href="{{ path('billing_index') }}" class="btn btn-primary btn-lg">
                    {{ ux_icon('tabler:player-play', {width: 20, height: 20}) }} {{ 'Resume Subscription'|trans }}
                </a>
                <a href="https://solidinvoice.co/contact" class="btn btn-ghost" target="_blank" rel="external noreferrer noopener">
                    {{ ux_icon('tabler:help', {width: 18, height: 18}) }} {{ 'Contact Support'|trans }}
                </a>
            </div>

            {# Info Alert for Multiple Companies #}
            {% if availableCompanies|length > 0 %}
                <twig:Ui:Alert type="info" class="mt-4 text-start">
                    <div class="d-flex align-items-center gap-2">
                        {{ ux_icon('tabler:building', {width: 20, height: 20}) }}
                        <div>
                            {{ 'You have access to other companies.'|trans }}
                            <a href="{{ path('_switch_company', {'id': availableCompanies|first.id}) }}" class="alert-link">
                                {{ 'Switch to %company%'|trans({'%company%': availableCompanies|first}) }}
                            </a>
                        </div>
                    </div>
                </twig:Ui:Alert>
            {% endif %}
        </div>
    </div>
{% endblock content %}
