<div {{ attributes }} class="d-flex align-items-center justify-content-between gap-3">
    <div class="client-credit-amount" id="client-credit-value">
        {{ client.credit|formatCurrency(client.currency) }}
    </div>
    <button type="button" class="btn btn-sm btn-outline-info" data-bs-toggle="modal" data-bs-target="#add-client-credit">
        {{ ux_icon('tabler:plus', {width: 14, height: 14}) }}
        {{ 'client.view.actions.add_credit'|trans }}
    </button>

    <twig:Ui:Modal id="add-client-credit" title="{{ 'client.modal.add_credit'|trans }}">
        {{ form(form) }}

        <twig:block name="footer">
            <button type="button" class="btn btn-ghost" data-bs-dismiss="modal">{{ 'Cancel'|trans }}</button>
            <button type="button" class="btn btn-primary" data-action="live#action:prevent" data-live-action-param="save">
                {{ ux_icon('tabler:device-floppy', {width: 16, height: 16}) }}
                {{ 'Save'|trans }}
            </button>
        </twig:block>
    </twig:Ui:Modal>
</div>
